.follow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.anchor {
    background-color: rgba(0, 0, 0,.7);
    padding: 20px 0 10px 0;;
}

.anchor .ant-anchor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.anchor .ant-anchor .ant-anchor-link-title {
    color: rgb(255, 255, 255);
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 600;
}